[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/theme-roller.el"]
	path = vendor/theme-roller.el
	url = https://github.com/senny/theme-roller.el.git
[submodule "vendor/mrsd.el"]
	path = vendor/mrsd.el
	url = git@github.com:collective/mrsd.el.git
[submodule "vendor/full-ack.el"]
	path = vendor/full-ack.el
	url = https://github.com/nschum/full-ack.git
